<%@prices_crypto["DISPLAY"]%>

<%@prices_crypto["DISPLAY"].each do |key, value|%>
 <%= key%> - <%= value["USD"]["PRICE"]%><br/>
 24 High:  <%= value["USD"]["HIGHDAY"]%><br/>
 24 Low:    <%= value["USD"]["LOWDAY"]%><br/>
 MarketCap: <%= value["USD"]["MKTCAP"]%><br/>
<%end%>

<%@news["Data"]%>
    <div class="container">
    <div class="row">
        <%for x in @news["Data"]%> 
            <div class="col-sm">
            <div class="card" style="width: 18rem;">
            <img src="<%= x["imageurl"] %>" class="card-img-top" alt="<%= x["source"]%>">
            <div class="card-body">
                <h5 class="card-title"><%= x["title"]%></h5>
                <p class="card-text"><%= x["body"]%></p>
                <a href="<%= x["url"]%>" class="btn btn-secondary">Read More.. </a>
                </div>
             </div>
            <br/>
        </div>
    <%end%>
 </div>
</div>
