<!DOCTYPE html>
<html>
  <head>
    <title>Crypto News Network</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
   <%= render 'home/navbar'%>
  <br/>
  <div class = "contatiner">
    <%= yield %>
    </div>
  </body>
</html>
